@import "tailwindcss";

@theme { 
  --color-primary: #F8FAFC;        /* light background */
  --color-secondary: #1F2937;      /* dark text */
  --color-accent: #22C55E;         /* fresh green */
  --color-highlight: #F59E0B;      /* food highlight (orange) */
  --color-bordercolor: #E5E7EB;    /* soft border */
}



